body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: black;
}

.navbar{
  background-color: black !important;
}

.nav-list{
  margin-left: 22%;
}


.nav-item{
  padding: 0 30px 0 30px;
}

.nav-link{
  font-family: sans-serif;
}

.nav-link:hover{
  color: #7D1935 !important;
  font-weight: bold !important;
}


/*-------------------------------------MEDIA QUERIES/*-------------------------------------*/

/*--------------------------------APPLE PRODUCTS--------------------------------*/

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }

}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}
/*--------------------------------SAMSUNG PRODUCTS--------------------------------*/

/* ----------- Galaxy S6 ----------- */
/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}


/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .nav-list{
      margin-left: 0%;
    }
    .nav-item{
      padding: 0;
    }
}





















/*-------------------------------------MEDIA QUERIES END-------------------------------------*/


.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  padding-bottom: 30px;
}

.home-page_con {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  background-color: black;
  box-shadow: 0 0 24px 0 rgba(255, 0, 0, 0.26), 0 1px 0 0 rgba(255, 0, 0, 0.02);
  margin-top: 100px;
  border-radius: 25px;
}

.heading {
  font-family: 'Share Tech Mono', monospace;
  /* font-family: 'Dongle', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
}

.btn-primary {
  background-color: #7D1935 !important;
  border: none !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 23px;
  transition: font-size 1.5s;
}

.btn-primary:hover {
  background-color: #E63E6D !important;
  font-size: 23px;
  color: #3D111C !important;
  font-weight: bold;
}

/* Services Section */
#services-sec {
  padding-top: 40px;
  padding-bottom: 40px;
}

.graphic-design-image {
  width: 85%;
}

.web-dev-image {
  width: 90%;
}

.services-text {
  margin-top: 20px;
  font-size: 20px;
}

/*.services-text:hover{
  z-index: 3;
  font-size: 25px;
}*/

.service-type {
  color: #B42B51;
  font-family: 'Share Tech Mono', monospace;
  transition: color 1.5s;
  transition: z-index 1.5s;
  transition: font-size 1.5s;
}

.service-type:hover {
  color: #FFA1C9;
  z-index: 2;
  font-size: 40px;
}

.Services {
  color: #E63E6D;
  transition: color 1.5s;
  transition: z-index 1.5s;
  transition: font-size 1.5s;
}

.Services:hover {
  z-index: 2;
  font-size: 25px;
  color: #FFA1C9;
}

@media (max-width: 1024px) {

  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .graphic-design-image {
    width: 85%;
    margin-left: 30px;
  }

  .web-dev-image {
    width: 85%;
    margin-left: 25px;
  }

  .design-by-div {
    margin-left: 0;
  }
}

.services-heading{
  font-family: 'Raleway', sans-serif;
  color: #FFA1C9;
}

/* About Section */

.About-Heading{
  font-family: 'Raleway', sans-serif;
  color: #FFA1C9;
  padding-bottom: 20px;
  transition: color 1.5s;
  transition: z-index 1.5s;
  transition: font-size 1.5s;
}


.About-Description{
  color: #B42B51;
  font-family: 'Share Tech Mono', monospace;
  transition: color 1.5s;
  transition: z-index 1.5s;
  transition: font-size 1.5s;
}

.About-Description:hover{
  color: #FFA1C9;
  z-index: 2;
  font-size: 40px;
}


.Xen-Dev{
  color: #E63E6D;
  transition: color 1.5s;
  transition: z-index 1.5s;
  transition: font-size 1.5s;
}

.Xen-Dev:hover{
  z-index: 2;
  font-size: 25px;
  color: #FFA1C9;
}

.About-Text{
  margin-top: 20px;
  font-size: 20px;
}



/*Contact Section */
#contact-sec {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-id {
  background-color: #FFA1C9;
  color: #3F0F1B;
  border: none;
  border-radius: 20px;
  padding: 10px;
  ;
  width: 80%;
  box-sizing: border-box;
  font-weight: bold;
}

.message-id {
  background-color: #FFA1C9;
  color: #3F0F1B;
  border: none;
  border-radius: 20px;
  padding:10px;
  width: 80%;
  box-sizing: border-box;
  height: 150px;
  font-weight: bold;
}

.contact-text {
  margin-bottom: 20px;
  margin-top: 20px;
}

.contact_form {
  font-family: 'Share Tech Mono', monospace;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #FAD2D1;
  font-size: 20px;
}

.contact-image {
  width: 85%;
}

@media (max-width: 1024px) {

  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .contact-image {
    width: 85%;
    margin-left: 20px;
  }

}

.submit-btn{
    background-color: #7D1935 !important;
    border: none !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 20px;
    color: white;
    font-weight:bold;
    transition: font-size 1.5s;
  }

  .submit-btn:hover {
    background-color: #E63E6D !important;
    font-size: 23px;
    color: #3D111C !important;
    font-weight: bold;
  }

  .thank-you{
    margin-top: 150px;
    font-family: 'Share Tech Mono', monospace;
  }

  .thanks{
    font-family: 'Share Tech Mono', monospace;
  }

  .xd-logo{
    margin-top: 50px;
    width: 5%;
    height: 5%;
  }
